<a href="" class="ui center aligned icon grey header" data-ng-click="setEntity('students')" >
    <i class="circular users blue icon" data-ng-class="{'inverted': isEntity('students')}"></i>
    Alunos
</a>

<a href="" class="ui center aligned icon grey header" data-ng-click="setEntity('exercises')">
    <i class="circular thumbtack green icon" data-ng-class="{'inverted': isEntity('exercises')}"></i>
    Exerc.
</a>

<a href="" class="ui link center aligned icon grey header" data-ng-click="setEntity('trainings')">
    <i class="circular child red icon" data-ng-class="{'inverted': isEntity('trainings')}"></i>
    Treinos
</a>