<a href="" class="ui center aligned icon grey header" data-ng-click="setEntityName('students')" >
    <i class="circular users blue icon" data-ng-class="{'inverted': isCurrentEntity('students')}"></i>
    Alunos
</a>

<a href="" class="ui center aligned icon grey header" data-ng-click="setEntityName('exercises')">
    <i class="circular thumbtack green icon" data-ng-class="{'inverted': isCurrentEntity('exercises')}"></i>
    Exerc.
</a>

<a href="" class="ui link center aligned icon grey header" data-ng-click="setEntityName('trainings')">
    <i class="circular child grey icon" data-ng-class="{'inverted': isCurrentEntity('trainings')}"></i>
    Treinos
</a>