<div class="ui pagination right floated menu" data-ng-if="pages.length >= 2">
    <a class="item" data-ng-click="selectPage(1)">Primeira</a>
    <a class="icon item" data-ng-click="selectPage(currentPage - 1)"><i class="left chevron icon"></i></a>
    <div class="item">
        <div class="ui small input" style="width: 80px">
            <input type="text" placeholder="{{currentPage}}" data-ng-enter="selectPage($event)" class="text right aligned">
        </div>
        &nbsp;de&nbsp;
        <div class="ui small input" style="width: 80px">
            <input type="text" value="{{numPages}}" readonly class="text right aligned">
        </div>
    </div>
    <a class="icon item" data-ng-click="selectPage(currentPage + 1)"><i class="right chevron icon"></i></a>
    <a class="item" data-ng-click="selectPage(numPages)">Última</a>
</div>