<div class="ui menu">
    <div class="menu">
        <a class="item"  data-ng-click="new()">
            <i class="icon plus"></i> Novo registro
        </a>

    </div>
    <div class="right menu">
        <div class="search borderless item">
            <div class="ui transparent icon input">
                <div class="ui icon input">
                    <input type="text" placeholder="Pesquisar..." data-ng-model="search.text" />
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>